@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Declarando Cores*/
:root{
    --darkpurp : #4c255e;
    --lightpurp : #ad77c7;
    --bluepurp : #b9affa;
    --darkyellow : #917c50;
    --lightyellow : #fbda71;

    --purpgradient : linear-gradient(90deg,var(--darkpurp),#96347d);
}
/*Logo Menu*/
.logohome{
    height: 30px;
    padding: 10px;
    display : flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--lightyellow);
    margin-bottom: 20px;
}

.logohome svg{
    height: 100%;
    fill: var(--lightyellow);
    min-width: 100px;
}

/*Nav Menu*/
.menu{
    color: var(--lightyellow);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    height: 20px;
    background: --darkpurp;
}

.menu li{
    padding: 10px;
    display: inline;
}
/*nav Menu*/


body{
    background: var(--purpgradient);
    animation: slide 5s easy alternate infinite ;
    background-size: 400%;
    background-position: 0%;

}

svg{
    height: 200px;
    fill: rgba( 255, 255, 255, 0.20) ;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur( 4.5px );
    stroke: rgba( 255, 255, 255, 0.18 );
    stroke-width: 1px;
}
