@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Declarando Cores*/
:root{
    --darkpurp : #2a0f36;
    --lightpurp : #ad77c7;
    --bluepurp : #b9affa;
    --darkyellow : #917c50;
    --lightyellow : #fbda71;

    --wtpgradiental : linear-gradient(150deg,rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.05));
    --purpgradient : linear-gradient(145deg,var(--darkpurp),#96347d);
    --purpgradiental : linear-gradient(90deg,rgba(78, 38, 97,.1),rgba(150, 52, 125,.1));
    --yelpgradient : linear-gradient(90deg,var(--lightyellow),var( --darkyellow ));
    --yelpgradiental : linear-gradient(90deg,rgba(251, 218, 113,.4),rgba(145, 124, 80,.2));
}
/*Logo Menu*/
.logohome{
    height: 30px;
    width: 100%;
    padding: 10px;
    display : flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--lightyellow);
    margin-bottom: 20px;
    position: fixed;
    z-index: 1000;
    backdrop-filter: blur(15px);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .4) ;
}

.logohome svg{
    height: 100%;
    fill: var(--lightyellow);
    min-width: 100px;
}

/*Nav Menu*/
.menu a{
    color: var(--lightyellow);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
    padding: 5px 10px;
    transition: .5s ;
    border: 1px solid rgba(251, 218, 113, 0);
    border-radius: 15px;
    
}
.menu a:hover{

    border: 1px solid rgba(251, 218, 113, .5);
    transform: translateX(5px);
    opacity: .3;
    background-color: rgba(155, 102, 102, 0.18);
    font-weight: 500;
    transform: scale(.5);
}

.menu{
    height: 20px;
}

.menu li{
    margin: 0 10px;
    display: inline;
}
/*nav Menu*/

/*Config Geral do Body*/
body{
    color: var(--lightyellow);
    font-family: 'Roboto', sans-serif;
    background-image: var(--purpgradient);
    animation: slide 5s easy alternate infinite ;
    background-size: 400%;
    background-position: 0%;
}

secttion{
    margin: 20px;
}

main{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 250;
}
main h1{

    font-size: 12vh;

}

main h2{
    font-size: 6vh;
    padding: 10px;
}

main h3{
    font-size: 4vh;
}

main p{
    font-size: 3vh;
    padding: 10px;
}

main section{
    padding: 20px;
    margin: 20px;
}

.bemvindo{
    margin-top: 20px;
    width: 100%;
}

.bemvindo h1{
    background-image: var(--purpgradiental);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.logogg{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;

}

.logogg svg{
    width: 100%;
    fill: rgba( 255, 255, 255, 0.03) ;
    stroke: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
}

.arrow {
    display: flex;
    height: 5vw;
    justify-content: center;
    width: 100%;
    padding: 10px;

}

.arrow svg{
    height: 100%;
    opacity: .5;
    transition: .5s;
}

.arrow svg:hover{
    opacity: 1;
}

.sobre{
    width: 100%;
}

.sobre h2{
    width: 100%;
}
.containersobre{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.containersobre p{

    max-width: 50%;

}

.containersobre img{
    height: 300px;
    min-width: 200px;
}

.servicos{
    width: 100%;
    background-image: var(--purpgradiental);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border-radius: 10px;
}

.servicos ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.servicos li{
    width: 20%;
    min-width: 250px;
    padding: 10px;
}

.servicos video{
    width: 100%;
    max-height: 150px;
}

.servicos h3{
    font-weight: 400;
    font-size: 3vh ;
}

.containerportfolio{

    display : flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

}

.containerportfolio button {
    display: flex;
    justify-content: center;
    width: 30vw;
    min-width: 180px;
    font-family: 'Roboto' sans-serif;
    font-size: 5vh;
    background-color: transparent;
    border: none;
    color: var(--lightyellow);
    font-weight: 100;
    border-radius: 10px;
    background: #601a5e;
    box-shadow:  26px 26px 61px #4c154a,
                 -26px -26px 61px #741f72;
}

.containerportfolio span{

    margin: auto 10px;

}

.containerportfolio p{

    width: 50vw;
}

.containerportfolio svg{
    width: 15%;
    margin: auto 10px;
}

.clientes ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.clientes li{
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    width: 11.9vw;
    height: 11.9vw;
    margin: 2px;
    min-width: 160px;
    justify-content: center;
}

.clientes span{
    position: absolute;
    margin-top: 40px;
    font-size: 1.1rem;
    text-align: center;
}

.contato{
    display: flex;
}
.contato h2{
    width: 50%;
    margin: 5px;
}
.contato form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    background: #601a5e;
    box-shadow:  26px 26px 61px #4c154a,
                 -26px -26px 61px #741f72;
}

.contato form input{
    margin: 5px;
    height: 6vh;
    background-image: var(--wtpgradiental);
    background-color: transparent;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
    border-radius: 5px;
    text-align: center;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgba(253, 237, 6, 0.2) ;
    color: var(--lightyellow);
    font-size: 1rem;
}

.contato textarea {
    width: 100%;
    margin: 10px;
    background-image: var(--wtpgradiental);
    background-color: transparent;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    text-align: center;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgba(253, 237, 6, 0.2) ;
    color: var(--lightyellow);
    font-size: 1rem;
    padding: 10px;
}

.contato .nome,.contato .empresa, .contato .email, .contato .fone{
    width: 46%;
}

.containerfoot {
    font-family: 'Roboto', sans-serif;
    display: flex;
    width: 100%;
    color: var(--darkpurp);
    font-family: 'Roboto' sans-serif;
    font-size: 2rem ;
    background-image: var(--yelpgradient);
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

footer{
    width: 100%;
}

.containerfoot{
    width: 100%;
}

.containerfoot h2{
    width: 100%;
    margin: 10px
}

.containerfoot ul{
    display: flex;
    margin: 50px;
    width: 100%;
}

.containerfoot li{
    margin: 10px;
    font-size: 1rem;
}

.containerfoot a{
    text-decoration: none;
    height: 20px;
    justify-content: center;
    text-align: center;
}

.containerfoot img{
    display: block;
    width: 60%;
    margin: 10px auto;
}

@media (max-width:600px){
    .bemvindo h1{
        height: 60vh;
        text-align: left;
    }
}